{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Alarmübersicht</h1>
    </header>

    {% if user == organization.owner %}
        <div class="align-right mb-4">
            <a class="btn btn-secondary" href="{% url 'pager:alarm-create' organization.id %}">
                <i class="material-icons">add</i>
            </a>
        </div>
    {% endif %}

    {% if alarm_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Zeit</th>
                <th>Organisation</th>
                <th width="150px"></th>
            </tr>
            </thead>
            <tbody>
            {% for alarm in alarm_list %}
                <tr>
                    <td>{{ alarm.title }}</td>
                    <td>{{ alarm.time }}</td>
                    <td>{{ alarm.organization }}</td>
                    <td align="right">
                        <a class="btn btn-success" href="{% url 'pager:alarm-detail' alarm.id %}">
                            <i class="material-icons">slideshow</i>
                        </a>

                        {% if user == alarm.organization.owner %}
                            <a class="btn btn-danger" href="{% url 'pager:alarm-delete' alarm.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Alarme verfügbar.</p>
    {% endif %}
{% endblock %}