{% extends "base.html" %}

{% block content %}
    <h1>Alarmübersicht</h1>

    {% if alarm_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Zeit</th>
                <th width="150px"></th>
            </tr>
            </thead>
            <tbody>
            {% for alarm in alarm_list %}
                <tr>
                    <td>{{ alarm.title }}</td>
                    <td>{{ alarm.time }}</td>
                    <td align="right">
                        <a class="btn btn-success" href="{% url 'pager:alarm-detail' alarm.id %}">
                            <i class="material-icons">slideshow</i>
                        </a>

                        <a class="btn btn-danger" href="{% url 'pager:alarm-delete' alarm.id %}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Alarme verfügbar.</p>
    {% endif %}
{% endblock %}