{% extends "base.html" %}

{% block content %}
    <h1>Geräteübersicht</h1>

    {% if device_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Device</th>
                <th>Plattform</th>
                <th width="150px"></th>
            </tr>
            </thead>
            <tbody>
            {% for device in device_list %}
                <tr>
                    <td>{{ device.device_name }}</td>
                    <td>{{ device.device }}</td>
                    <td>{{ device.platform }}</td>
                    <td align="right">
                        <a class="btn btn-success" href="{% url 'pager:device-detail' device.fcm_token %}">
                            <i class="material-icons">slideshow</i>
                        </a>

                        <a class="btn btn-danger" href="{% url 'pager:device-delete' device.fcm_token %}">
                            <i class="material-icons">delete</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Alarme verfügbar.</p>
    {% endif %}
{% endblock %}