{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Alarmübersicht</h1>
    </header>

    {{ organization.owner }}

    {% if user.organization.owner == user %}
        <div class="align-right mb-4">
            <a class="btn btn-secondary" href="{% url 'pager:operation-create' %}">
                <i class="material-icons">add</i>
            </a>
        </div>
    {% endif %}

    {% if operation_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Stichwort</th>
                <th>Zeit</th>
                <th>Organisation</th>
                <th width="170px"></th>
            </tr>
            </thead>
            <tbody>
            {% for operation in operation_list %}
                <tr>
                    <td>{{ alarm.title }}</td>
                    <td>{{ operation.keywords }}</td>
                    <td>{{ operation.timestamp }}</td>
                    <td>{{ operation.organization }}</td>
                    <td align="right">
                        <a class="btn btn-success" href="{% url 'pager:operation-detail' operation.id %}">
                            <i class="material-icons">slideshow</i>
                        </a>

                        {% if DEBUG %}
                            <a class="btn btn-warning" href="{% url 'pager:operation-resend' operation.id %}"
                               onclick="return confirm('Den Alarm {{ alarm.title }} wirklich erneut versenden?');">
                                <i class="material-icons">send</i>
                            </a>
                        {% endif %}
                        {% if user == alarm.organization.owner %}
                            <a class="btn btn-danger" href="{% url 'pager:operation-delete' operation.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Keine Alarme verfügbar.</p>
    {% endif %}
{% endblock %}