{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Alarm "{{ object.keywords }}"</h1>
    </header>

    <div class="container">
        <div class="row">
            <span class="col-2">Alarmierungszeit</span>
            <div class="col-10">
                {{ object.timestamp }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Alarmierungseingang</span>
            <div class="col-10">
                {{ object.timestamp_income }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Mitteiler</span>
            <div class="col-10">
                {{ object.messenger }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Plan</span>
            <div class="col-10">
                {{ object.plan }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Priorität</span>
            <div class="col-10">
                {{ object.priority }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Kommentar</span>
            <div class="col-10">
                {{ object.comment }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Einsatzort</span>
            <div class="col-10">
                {{ object.einsatzort }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Zielort</span>
            <div class="col-10">
                {{ object.zielort }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Lat;Lng</span>
            <div class="col-10">
                {{ object.destination_lat }};{{ object.destination_lng }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Schleifen</span>
            <div class="col-10">
                {% for loop in object.operationloop_set.all %}
                    {{ loop.loop }} |
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Gerätevorschau</h2>
        Bei der Grätevorschau wird dir angezeigt, welche Informationen aktuell an dein Gerät gesendet werden.

        <div class="row">
            <span class="col-2">Push-Titel</span>
            <div class="col-10">
                <code>{{ object.push_title_formatted|linebreaksbr }}</code>
            </div>
        </div>

        <div class="row">
            <span class="col-2">Push-Nachricht</span>
            <div class="col-10">
                <code>{{ object.push_message_formatted|linebreaksbr }}</code>
            </div>
        </div>
    </div>
{% endblock %}