{% extends "base.html" %}

{% block content %}
    <header>
        <h1>Organisationen</h1>
    </header>

    <div class="align-right mb-4">
        <a class="btn btn-secondary" href="{% url 'pager:organization-create' %}">
            <i class="material-icons">add</i>
        </a>
    </div>

    {% if organization_list %}
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Adresse</th>
                <th>Admin</th>
                <th width="180px"></th>
            </tr>
            </thead>
            <tbody>
            {% for organization in organization_list %}
                <tr>
                    <td>{{ organization.name }}</td>
                    <td>{{ organization.address }}</td>
                    <td>{{ organization.owner }}</td>
                    <td align="right">
                        <a class="btn btn-outline-success" href="{% url 'pager:alarm-list' organization.id %}">
                            <i class="material-icons">alarm</i>
                        </a>

                        <a class="btn btn-success" href="{% url 'pager:organization-detail' organization.id %}">
                            <i class="material-icons">slideshow</i>
                        </a>

                        {% if user.id != organization.owner_id %}
                            <a class="btn btn-warning" href="{% url 'pager:membership-leave' organization.id %}">
                                <i class="material-icons">arrow_right_alt</i>
                            </a>
                        {% else %}
                            <a class="btn btn-danger" href="{% url 'pager:organization-delete' organization.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Du bist noch keiner Organisation beigetreten.</p>
    {% endif %}
{% endblock %}