{% extends "base.html" %}

{% block content %}
    <header class="container">
        <div class="row">
            <div class="col">
                <h1>{{ object.name }}</h1>
            </div>
            <div class="col align-right">
                {% if user.id != object.owner_id %}
                    <a class="btn btn-warning" href="{% url 'pager:membership-leave' organization.id %}">
                        <i class="material-icons">arrow_right_alt</i>
                    </a>
                {% else %}
                    <a class="btn btn-danger" href="{% url 'pager:organization-delete' organization.id %}">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>

    <p>Admin: {{ object.owner }}</p>
    <p>Addresse: {{ object.address }}, {{ object.plz }} {{ object.place }}</p>

    {% if user.id == object.owner_id %}
        <p>API-Key: {{ object.access_key }} (keep it secret! With this key you can trigger alarms from the api.)</p>


        <h2>Mitglieder</h2>

        <div class="align-right mb-4">
            <a class="btn btn-secondary" href="{% url 'pager:membership-add' %}">
                <i class="material-icons">add</i>
            </a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th width="100px"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in object.customuser_set.all %}
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td align="right">
                        {% if member.id != object.owner_id %}
                            <a class="btn btn-danger" href="{% url 'pager:membership-delete' member.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}