{% extends "base.html" %}

{% block content %}
    <header class="container">
        <div class="row">
            <div class="col">
                <h1>{{ object.name }}</h1>
            </div>
            <div class="col align-right">
                {% if user.id != object.owner_id %}
                    <a class="btn btn-warning" href="{% url 'pager:membership-leave' organization.id %}">
                        <i class="material-icons">arrow_right_alt</i>
                    </a>
                {% else %}
                    <a class="btn btn-danger" href="{% url 'pager:organization-delete' organization.id %}">
                        <i class="material-icons">delete</i>
                    </a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <span class="col-2">Admin</span>
            <div class="col-10">
                {{ object.owner }}
            </div>
        </div>

        <div class="row">
            <span class="col-2">Adresse</span>
            <div class="col-10">
                {{ object.address }}, {{ object.plz }} {{ object.place }}
            </div>
        </div>


        {% if user.id == object.owner_id %}

            <div class="row">
                <span class="col-2">Dein API-Key:</span>
                <div class="col-10">
                    <kbd>{{ object.access_key }}</kbd>
                    <br/>
                    Keep it secret! Mithilfe dieses Keys können Alarme von dem AlarmWorkflow-Server gepostet werden.
                </div>
            </div>
        {% endif %}

    </div>

    {% if user.id == object.owner_id %}
        <h2>Mitglieder</h2>

        <div class="align-right mb-4">
            <a class="btn btn-secondary" href="{% url 'pager:membership-add' %}">
                <i class="material-icons">add</i>
            </a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>E-Mail</th>
                <th width="100px"></th>
            </tr>
            </thead>
            <tbody>
            {% for member in object.customuser_set.all %}
                <tr>
                    <td>{{ member.first_name }}</td>
                    <td>{{ member.last_name }}</td>
                    <td>{{ member.email }}</td>
                    <td align="right">
                        {% if member.id != object.owner_id %}
                            <a class="btn btn-danger" href="{% url 'pager:membership-delete' member.id %}">
                                <i class="material-icons">delete</i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}